body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar-top-title {
    margin: 15px;
    float: left;
    color: #9d9d9d;
}

.navbar-top-menu {
    margin-top: 10px;
    margin-bottom: 0;
    float: right;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
}

.my-statement {
    background: #90EE90;
    border: 1px solid #777777;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 20%;
    padding: 8px;
    position: relative;
    clear: both;
    max-width: 500px;
    float: right;
}
.my-statement:after,
.my-statement:before {
    top: 50%;
    left: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}
.my-statement:after {
    border-left-color: #90EE90;
    border-width: 7px;
    margin-top: -7px;
}
.my-statement:before {
    border-left-color: #777777;
    border-width: 8px;
    margin-top: -8px;
}

.other-user {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 20%;
    clear: both;
}

.other-user-statement {
    background: #ffffff;
    border: 1px solid #777777;
    border-radius: 15px;
    margin-left: 10px;
    padding: 8px;
    position: relative;
    display: inline-block;
    max-width: 500px;
}

.other-user-statement:after,
.other-user-statement:before {
    top: 50%;
    right: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}
.other-user-statement:after {
    border-right-color: #ffffff;
    border-width: 7px;
    margin-top: -7px;
}
.other-user-statement:before {
    border-right-color: #000000;
    border-width: 8px;
    margin-top: -8px;
}

.user-icon {
    width: 35px;
    float: left;
}

.user-icon-big {
    width: 100px;
    float: left;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.bg-blue {
    background-color: #7897C5;
}

.bg-pink {
    background-color: #FFC0CB;
}